html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: myFirstFont;
    font-weight:100;
}
*:focus {
    outline:none;
}
body {
    display: flex; 
    align-items: stretch;
    justify-content: center;
}
.leftImage {
    flex-basis: 40%;
    background-image: url('../images/288995-wallpaper-720-1520.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 1700px;
}
.head {
    width: 4rem;
}
.name {
    font-size: 50px;
    font-weight: bolder;
    color: aliceblue;
}
.leftBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.609);
    position: relative;
    top: 25vh;
    padding: 10px;
}
.rightSide {
    flex-basis:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(251, 248, 228);
}
input, label {
    display: block;
}

fieldset {
    border: 2px solid;
    width: 400px;
    
}
.formContainer {
    display: flex;
    background-color: rgb(214, 211, 200);
    padding:20px 50px 30px;
    flex-flow: row wrap;
    box-shadow: 0px 8px 15px -9px rgba(0,0,0,0.75);
    
}
input {
    padding: 5px;
    border-radius: 3px;
    border: none;
    min-width: 300px;
    box-sizing: border-box;
}
input:focus:invalid {
    border: 2px solid rgb(231, 0, 0);
}
input:focus:valid {
    border: 3px solid rgb(158, 255, 155);
}
.dummyText {
    display: flex;
    flex-direction: column;
    padding:0 50px 50px;
}
label {
    font-size: 17px;
    margin-bottom: 2px;
    font-style: italic;
    font-weight: lighter;
}
.input {
    padding: 10px 20px 10px 0;
}
.formTitle {
    width: 100%;
    font-size: 30px;
}
@font-face {
    font-family: myFirstFont;
    src: url(Roboto-Regular.ttf);
}
.button {
    background-color: rgb(251, 248, 228); /* Green */
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight:bold;
  }
  .rightButton {
    padding: 40px 0 20px 50px;
  }
  .logIn {
    display: flex;
    padding: 0 0 0 50px;
    font-size: 20px;
  }
  a {
    margin: 20px 0 0 3px;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
  button[type='submit']:hover {
    background-color: black;
    color: aliceblue;
  }